{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["**/*.html", "**/*.htm"],
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}